@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-regular-webfont.eot');
    src: url('fonts/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-regular-webfont.woff') format('woff'),
         url('fonts/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-bold-webfont.eot');
    src: url('fonts/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-bold-webfont.woff') format('woff'),
         url('fonts/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-italic-webfont.eot');
    src: url('fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: LibreBaskerville, serif;
    background-color: #f2f2f2;
    margin: 0em;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0em;
}

h2 {
    font-style: italic;
}

h3 {
    font-weight: bold;
    margin: 0;
}

code {
    background-color: #feffe1;
  /*  padding: 0.5em 0.75em;*/
}

textarea {
    font-family: LibreBaskerville, serif;
    font-size: 1em;
}

select {
    font-family: LibreBaskerville, serif;
    font-size: 1em;
}

form {

}

section {

}

img {
    width: 100%;
    height: 100%;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.header {
    background-color: #0a0604;
    /*position: relative;*/
    width: 100%;
    /*height: 4em;*/
    color: #7e7c7b;
    text-align: right;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

.header-search {
    width: 15em;
    position: absolute;
    /*float: right;*/
    /*clear: both;*/
    right: 0;
    margin-top: 0.25em;
    margin-right: 6.5em;
    /*border-bottom: #7e7c7b 1px solid;*/
    /*display: inline-block;*/
}
.header-search-field {
    background: none;
    border: none;
    text-align: right;
    color: #7e7c7b;
    font-family: LibreBaskerville, serif;
    font-size: 1em;
    border-bottom: #7e7c7b 1px solid;
    width: 16em;
    outline: none;
}

.header-cart {
    margin: 0;
    padding: 0;
    margin-right: 0.5em;
}

.header-cart a.button {
    margin: 0;
    padding: 0.25em;
    background-color: #261610;
}

.header-cart p {
    /*margin: 0.5em 0 0 0;*/
    padding-top: 0.5em;
    padding-right: 0.5em;
    display: inline;
    color: #9e9c9b;
    font-weight: bold;
}


#cart {
    height: 24px;
    width: auto;
    float: right;
    position: relative;
    /*margin-top: -1.5em;*/
    
}

/*.hidden {
    height: 0;
    width: 0;
    opacity: 0;
}*/

#cartContents {
    -webkit-transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.1s ease-in;
    transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.1s ease-in;
    position: absolute;
    background-color: rgba(242,242,242,0.8);
    padding: 1em;
    z-index: 1;
    right: 3em;
    width: 0;
    height: 0;
    border-radius: 0.5em 0em 0.5em 0.5em;
    opacity: 0;
    text-align: center;
    /*opacity: 1;*/
}



.banner {
    background-image: url("../img/titleBannerWide.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
}

/*.banner.primary {
    background-image: url("../img/titleBanner.jpg");
}*/

.banner nav {
    background-color: rgba(10, 6, 4, 0.5);
}

.banner-masthead {
    padding: 2em 0;
    margin: 0 auto;
    max-width: 541px;
    display: block;
}

.banner-masthead.primary {
    max-width: 721px;
    padding: 3em 0 3em 0;
}

.banner-masthead:hover {
    cursor: pointer;
    cursor: hand;
}

.banner-scrollPrompt {
    width: 5em;
    height: 5em;
    background-image: url('../img/scrollPromptLg.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    top: -2.5em;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/*
.banner.primary nav {
    background-color: rgba(0,0,0,0);
}*/

.banner-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 6em;
    /*padding-bottom: 1em;*/
}

.banner-nav.primary {
    padding-bottom: 2em;
}

.banner-nav-item {
    /*flex-grow: 1;*/
    width: 33%;
    margin: auto 0;
    text-align: center;
    cursor: pointer;
    cursor: hand;   
}
    
.banner-nav-item p {
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}

.banner-nav-item.primary p {
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    padding: 2em;
    margin: 0;
}

.banner-nav-item:hover {
    color: #F2F2F2;
    background-color: rgba(10, 6, 4, 0.8);
    /*border-radius: 0.25em;*/
    cursor: hand;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

/*.banner-nav-item a:hover {
    color: #F2F2F2;
    background-color: rgba(10, 6, 4, 0.3);
    border-radius: 0.25em;
}*/

.welcome {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.welcome-message {
    padding: 0 6em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
}

.welcome-message p {
    font-weight: bold;
}

.welcome-details {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
    /*background-color: #7E7C7B;*/
    /*padding: 2em 6em;*/
}

.welcome-details-border {
    flex-grow: 1;
    background-color: black;
}

.welcome-details-item {
    
    flex-grow: 2;
    flex-basis: 26em;
    text-align: center;
}

.welcome-details-item-shader img {
    max-width: 320px;
}

.welcome-details-item.paddles {
    background-image: url('../img/paddle-bg2.jpg');
    background-position: top;
    background-size: cover;
}

.welcome-details-item.materials {
    background-image: url('../img/materials.jpg');
    background-position: top;
    background-size: cover;
}

.welcome-details-item-shader {
    width: 100%;
    height: 100%;
    padding: 4em 8em;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;


}

.welcome-details-item-shader:hover {
    background-color: rgba(0,0,0,0);
}

.welcome-details-item h2 {
    text-align: center;
}

.context {
    display: relative;
    /*flex-wrap: wrap;*/
    width: 100%;
    padding: 0 10em;
    /*padding-top: 1em;*/
    padding-bottom: 1em;
    text-align: center;
}

.context h1 {
    display: block;
}

.showcase {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.showcase-item {
    /*border: 5px solid white;*/
    width: 33.333%;
    position: relative;
    background-size: cover;
}

.showcase-item.one {
    background-image: url("../img/paddle-bg1.jpg");
}

.showcase-item.two {
    background-image: url("../img/paddle-bg2.jpg");
}

.showcase-item.three {
    background-image: url("../img/paddle-bg3.jpg");
}

.showcase-item.four {
    background-image: url("../img/paddle-bg4.jpg");
}

.showcase-item.five {
    background-image: url("../img/paddle-bg5.jpg");
}

.showcase-item.six {
    background-image: url("../img/paddle-bg6.jpg");
}

.showcase-item:before {
    content: "";
    padding-top: 100%;
    display: block; 
}

.showcase-item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.showcase-item-content h2 {
    position: absolute;
    margin-left: 1em;
    font-size: 2em;
    color: #F2F2F2;
}

.showcase-item-content img {
    position: absolute;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.showcase-item-content img:hover {
    background-color: rgba(0,0,0,0);
}

.showcase-item-content img:hover ~ .showcase-item-content-details {
    visibility: visible;
    bottom: 0;
    -webkit-transition-delay: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;
}

.showcase-item-content p {
    /*opacity: 0;*/
    margin-top: 0;
    padding-top: 5em;
    padding-left: 2em;
    padding-bottom: 1.5em;
    width: 100%;
    color: #F2F2F2;
    background-color: rgba(0,0,0,0.5);
}

.showcase-item-content a:hover {
    visibility: visible;
}

.showcase-item-content a:hover ~ img {
    background-color: rgba(0,0,0,0);
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}

.showcase-item-content-details {
    /*visibility: hidden;*/
    /*width: 100%;
    height: 100%;*/
    position: absolute;
    /*text-align: right;*/
    width: 12.5em;
    bottom: -12em;
    right: 0;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    -webkit-transition: bottom 0.5s ease-out;
    transition: bottom 0.5s ease-out;
}

.showcase-item-content-details:hover {
    /*visibility: hidden;*/
    /*width: 100%;
    height: 100%;*/
    position: absolute;
    /*text-align: right;*/
/*    width: 14em;*/
    bottom: 0;
/*    right: 0;*/
/*    padding: 1em;*/
    background-color: rgba(0,0,0,0.5);
}

.showcase-item-content-details ul {
    list-style-type: none;
    color: #bbbbbb;
    margin: 0;
    padding: 0;
}

.showcase-item-content-details ul strong {
    /*list-style-type: none;*/
    color: #f2f2f2;
    /*margin: 0;*/
    /*padding: 0;*/
}

.showcase-item-content-details a.button:not(.small) {
    /*list-style-type: none;*/
    margin-top: 0.5em;
    width: 100%;
    text-align: center;
    /*margin: 0;*/
    /*padding: 0;*/
}

.knowledge {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.knowledge-item {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    padding: 0;
}

.knowledge-item-image {
    width: 30%;
    padding: 2em;
    /*height: auto;*/
    /*background-color: rgba(0,0,0,0.5);*/
}

.knowledge-item-image img {
    width: 100%;
}
.knowledge-item-image p {
    text-align: center;
    font-weight: bold;
}

.knowledge-item-content {
    width: 70%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.knowledge-item-content-shader {
    min-height: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
    padding: 1em 2em;
    /*bottom: 0;*/
}

.knowledge-item-content-shader h2 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

.knowledge-item-content-shader p {
    margin-top: 0.25em;
    margin-bottom: 1em;
}

.parts {
    background-image: url("../img/partsBg.jpg");
    background-size: cover;
    background-position: right;
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    /*opacity: 0.5;*/
}

.order-form {
    display: relative;
    /*flex-wrap: wrap;*/
    width: 100%;
    padding: 0 2em 2em 2em;
}

.order-form a.button {
    margin-top: 1em;
}

.order-form h1 {
    /*width: 50%;*/
    display: relative;
}
.order-form h2 {
    /*width: 50%;*/
    display: relative;
    margin-bottom: 0.25em;
}

.order-form label {
    /*width: 50%;*/
    font-weight: bold;
}

.order-form input {
    /*margin-left: 1em;*/
    margin-bottom: 1em;
    background: none;
    border: none;
    /*text-align: right;*/
    color: #0a0604;
    font-family: LibreBaskerville, serif;
    font-size: 1em;
    border-bottom: #0a0604 1px solid;
    width: 16em;
    outline: none;
    display: block;
}

.order-form p {
    margin: 0.25em 0;
}

.order-form table {
    margin-top: 0em;
    width: 75%;
    display: relative;
    border-collapse: collapse;
    border-spacing: 0;
}

.order-form table tr {
    background-color: rgba(58, 42, 36, 0.5);
}

.order-form table tr:first-child {
    background-color: rgba(58, 42, 36, 0.7);
}

.customizer {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.customizer-viewer {
    flex-grow: 1;
    background-color: #151210;
}

.customizer-viewer:before {
    content: "";
    padding-top: 100%;
    display: block; 
}

.customizer-editor {
    flex-grow: 2;
}

.customizer-editor-item {
    display: block;
    padding: 1em;
}

.customizer-editor-item.dark {
    background-color: #373532;
}

.customizer-editor-item.light {
    background-color: #4B3F3C;
}

.footer {
    display: inherit;
    flex-wrap: wrap;
    background-color: #0a0604;
    /*position: relative;*/
    bottom: 0em;
    margin: 0em auto;
    padding: 5em 0;
    width: 100%;
    text-align: center;
    color: #7e7c7b;
    z-index: 100;
}

#footerLogo {
    max-width: 267px;
}

.footer-item {
    flex-grow: 5;
    margin: auto 0;
    visibility: hidden;
    /*flex-basis: 20em;*/
}

.footer-item nav a {
    display: block;
    text-decoration: none;
    color: #7e7c7b;
    margin: 0em;
    padding: 0em;
}

.footer-item nav a:hover {
    text-decoration: underline;
    color: #f2f2f2;
}

.footer-item-logo {
    flex-grow: 1;
    margin: auto 0;
    /*flex-basis: 20em;*/
}


/*.banner {
    width: 100%;
    height: auto;
    background-image: url("../img/titleBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3em 0 12em 0;
    position: relative;
}*/

.mainMenu {
    margin: 3em auto;
    position: relative;
}

.scrollPrompt {
    position: relative;
    text-align: center;
    margin-top: -2em;
}

.shadedArea {
    background-color: #7E7C7B;
    padding: 2em;
}

.maple {
    /*background-color: rgba(0,0,0,0.3);*/
    background-image: url("../img/maple.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.maple {
    /*background-color: rgba(0,0,0,0.3);*/
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/maple.jpg) repeat;
    background-size: 100% auto
}

.ash {
    background-image: url("../img/ash.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.ash {
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/ash.jpg) repeat;
    background-size: 100% auto;
}

.cherry {
    background-image: url("../img/cherry.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.cherry {
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/cherry.jpg) repeat;
    background-size: 100% auto;
}

.basswood {
    background-image: url("../img/basswood.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.basswood {
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/basswood.jpg) repeat;
    background-size: 100% auto;
}

.spruce {
    background-image: url("../img/spruce.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.spruce {
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/spruce.jpg) repeat;
    background-size: 100% auto;
}

.butternut {
    background-image: url("../img/butternut.jpg");
    background-size: 100% auto;
}

.knowledge-item-content.butternut {
    background: linear-gradient(0deg, rgba(255,255,255,0.15), rgba(255,255,255,0.15)), url(../img/butternut.jpg) repeat;
    background-size: 100% auto;
}

p.important {
    font-size: 1.25em;
}

a.button {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #f2f2f2;
    background-color: #0a0604;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

a.button.small {
    /*display: inline-block;*/
    padding: 0.25em 0.4em;
    color: #bbbbbb;
    margin: 0.1em;
    font-size: 0.8em;
    background-color: #261610;
    /*color: #f2f2f2;
    background-color: #0a0604;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;*/
}

a.button:hover, a.button:focus {
    background-color: #3A2A24;
    /*text-decoration: underline;*/
}

a.button.small:hover, a.button.small:focus {
    background-color: #3A2A24;
    /*text-decoration: underline;*/
}

a.button-warning {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #f2f2f2;
    background-color: #8C0F31;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

a.button-warning:hover, a.button-warning:focus {
    background-color: #872541;
    text-decoration: underline;
}

@media (max-width: 1080px) {
    .showcase-item {
        /*border: 5px solid white;*/
        width: 50%;
        position: relative;
        background-size: cover;
    }
}

@media (max-width: 720px) {
    .banner-nav-item {
        /*flex-grow: 1;*/
        width: 100%;
        margin: auto 0;
        text-align: center;
        cursor: pointer;
        cursor: hand;   
    }

    .showcase-item {
        /*border: 5px solid white;*/
        width: 100%;
        position: relative;
        background-size: cover;
    }

    .context {
        display: relative;
        width: 100%;
        padding: 0 2em;
        padding-bottom: 1em;
        text-align: center;
    }

    .knowledge-item-image {
        width: 100%;
        margin-bottom: -2em;
        /*padding: 2em;*/
        /*height: auto;*/
        /*background-color: rgba(0,0,0,0.5);*/
    }

    .knowledge-item-content {
        width: 100%;
        min-height: 100%;
        /*background-color: rgba(0,0,0,0.3);*/
    }

    .welcome-message {
        padding: 0 2em;
        padding-top: 1em;
        padding-bottom: 2em;
        text-align: center;
    }

    .welcome-details {
        display: inherit;
        /*flex-wrap: wrap;*/
        width: 100%;
        /*background-color: #7E7C7B;*/
        /*padding: 2em 0em;*/
    }
    .welcome-details-item {
        /*padding: 2em 4em;*/
        /*flex-grow: 2;*/
        /*flex-basis: 29em;*/
        text-align: center;
    }

    .footer {
        margin: 0;
    }

    .footer-item {
        visibility: hidden;
        /*flex-basis: 20em;*/
    }
    .footer {
        display: inherit;
        /*flex-wrap: wrap;*/
        background-color: #0a0604;
        /*position: relative;*/
        bottom: 0em;
        margin: 0em auto;
        padding: 3em 0;
        width: 100%;
        text-align: center;
        color: #7e7c7b;
    }
}