@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-regular-webfont.eot');
    src: url('fonts/librebaskerville-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-regular-webfont.woff') format('woff'),
         url('fonts/librebaskerville-regular-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-bold-webfont.eot');
    src: url('fonts/librebaskerville-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-bold-webfont.woff') format('woff'),
         url('fonts/librebaskerville-bold-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBaskerville';
    src: url('fonts/librebaskerville-italic-webfont.eot');
    src: url('fonts/librebaskerville-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('fonts/librebaskerville-italic-webfont.woff') format('woff'),
         url('fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
         url('fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: LibreBaskerville, serif;
    background-color: #f2f2f2;
    margin: 0em;

}

h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0em;
}

h2 {
    font-style: italic;
}

h3 {
    font-weight: bold;
    margin: 0;
}

code {
    background-color: #feffe1;
  /*  padding: 0.5em 0.75em;*/
}

textarea {
    font-family: LibreBaskerville, serif;
    font-size: 1em;
}

select {
    font-family: LibreBaskerville, serif;
    font-size: 1em;
}

form {

}

section {

}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: #0a0604;
    /*position: relative;*/
    width: 100%;
    /*height: 4em;*/
    color: #7e7c7b;
    text-align: right;
    padding: 0.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: auto;
}

.header-search {
    width: 15em;
    float: right;
    clear: both;
    margin-right: 1em;
    /*border-bottom: #7e7c7b 1px solid;*/
    /*display: inline-block;*/
}
.header-search-field {
    background: none;
    border: none;
    text-align: right;
    color: #7e7c7b;
    font-family: LibreBaskerville, serif;
    font-size: 1em;
    border-bottom: #7e7c7b 1px solid;
    width: 16em;
    outline: none;
}

.banner {
    background-image: url("../img/titleBannerWide.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
}

.banner-masthead {
    padding: 2em 0;
    margin: 0 auto;
}

.banner-masthead:hover {
    cursor: pointer;
    cursor: hand;
}

.banner-masthead.primary {
    padding: 3em 0 3em 0;
    
}

.banner-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 6em;
    padding-bottom: 1em;
}

.banner-nav.primary {
    padding-bottom: 2em;
}

.banner-nav-item {
    /*flex-grow: 1;*/
    width: 25%;
    margin: auto 0;
    text-align: center;
    cursor: pointer;
    cursor: hand;   
}

.banner-nav-item p {
    color: #F2F2F2;
    text-decoration: none;
    display: inline-block;
    padding: 2em;
    margin: 0;
}

.banner-nav-item:hover {
    color: #F2F2F2;
    background-color: rgba(10, 6, 4, 0.3);
    border-radius: 0.25em;
    cursor: hand;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

/*.banner-nav-item a:hover {
    color: #F2F2F2;
    background-color: rgba(10, 6, 4, 0.3);
    border-radius: 0.25em;
}*/

.welcome {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.welcome-message {
    padding: 0 12em;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;

}

.welcome-message p {
    font-weight: bold;
}

.welcome-details {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
    background-color: #7E7C7B;
    padding: 2em 6em;
}

.welcome-details-border {
    flex-grow: 1;
    background-color: black;
}

.welcome-details-item {
    padding: 2em 4em;
    flex-grow: 2;
    flex-basis: 29em;
    text-align: center;
}

.welcome-details-item h2 {
    text-align: center;
}


.welcome-details-item img {
    /*max-width: 100%;*/
    margin: 0 auto;
    display: block;
}

.showcase {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.showcase-item {
    /*border: 5px solid white;*/
    width: 33.333%;
    position: relative;
    background-size: cover;
}

.showcase-item.one {
    background-image: url("../img/paddle-bg1.jpg");
}

.showcase-item.two {
    background-image: url("../img/paddle-bg2.jpg");
}

.showcase-item.three {
    background-image: url("../img/paddle-bg3.jpg");
}

.showcase-item.four {
    background-image: url("../img/paddle-bg4.jpg");
}

.showcase-item.five {
    background-image: url("../img/paddle-bg5.jpg");
}

.showcase-item.six {
    background-image: url("../img/paddle-bg6.jpg");
}

.showcase-item:before {
    content: "";
    padding-top: 100%;
    display: block; 
}

.showcase-item-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.showcase-item-content h2 {
    position: absolute;
    margin-left: 1em;
    font-size: 2em;
    color: #F2F2F2;
}

.showcase-item-content img {
    position: absolute;
    padding: 10%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.showcase-item-content img:hover {
    background-color: rgba(0,0,0,0);
}

.showcase-item-content img:hover ~ .showcase-item-content-details {
    visibility: visible;
}

.showcase-item-content p {
    /*opacity: 0;*/
    margin-top: 0;
    padding-top: 5em;
    padding-left: 2em;
    padding-bottom: 1.5em;
    width: 100%;
    color: #F2F2F2;
    background-color: rgba(0,0,0,0.5);
}

.showcase-item-content a:hover {
    visibility: visible;
}

.showcase-item-content a:hover ~ img {
    background-color: rgba(0,0,0,0);
}

.showcase-item-content-details {
    visibility: hidden;
    /*width: 100%;
    height: 100%;*/
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;

}

.knowledge {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.knowledge-item {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    padding: 0;
}

.maple {
    background-image: url("../img/maple.jpg");
    background-size: 100% auto;
}

.ash {
    background-image: url("../img/ash.jpg");
    background-size: 100% auto;
}

.cherry {
    background-image: url("../img/cherry.jpg");
    background-size: 100% auto;
}

.basswood {
    background-image: url("../img/basswood.jpg");
    background-size: 100% auto;
}

.spruce {
    background-image: url("../img/spruce.jpg");
    background-size: 100% auto;
}

.butternut {
    background-image: url("../img/butternut.jpg");
    background-size: 100% auto;
}

.knowledge-item-image {
    /*flex-grow: 1;*/
    width: 30%;
    padding: 2em;
}

.knowledge-item-image img {
    /*flex-grow: 1;*/
    width: 100%;
}
.knowledge-item-image p {
    /*flex-grow: 1;*/
    text-align: center;
    font-weight: bold;
}

/*.knowledge-item-image:before {
    content: "";
    padding-top: 100%;
    display: block; 
}*/

.knowledge-item-content {
    width: 70%;
    height: 100%;
}

.knowledge-item-content-shader {
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding: 1em 2em;
}

.knowledge-item-content-shader h2 {
    font-size: 2em;
    /*flex-grow: 2;*/
    /*height: 75%;*/

    margin-top: 0.5em;
    margin-bottom: 0.25em;
    /*padding: 1em 2em;*/
    /*color: #F2F2F2;*/
    /*height: 100px;*/
}

.knowledge-item-content-shader p {
    /*flex-grow: 2;*/
    /*height: 75%;*/
    margin-top: 0.25em;
    margin-bottom: 1em;
    /*margin-bottom: 0.25em;*/
    /*padding: 1em 2em;*/
    /*color: #F2F2F2;*/
    /*height: 100px;*/
}

.customizer {
    display: inherit;
    flex-wrap: wrap;
    width: 100%;
}

.customizer-viewer {
    flex-grow: 1;
    background-color: #151210;
}

.customizer-viewer:before {
    content: "";
    padding-top: 100%;
    display: block; 
}

.customizer-editor {
    flex-grow: 2;
}

.customizer-editor-item {
    display: block;
    padding: 1em;
}

.customizer-editor-item.dark {
    background-color: #373532;
}

.customizer-editor-item.light {
    background-color: #4B3F3C;
}

.footer {
    display: inherit;
    flex-wrap: wrap;
    background-color: #0a0604;
    /*position: relative;*/
    bottom: 0em;
    margin: 0em auto;
    padding: 5em 0;
    width: 100%;
    text-align: center;
    color: #7e7c7b;
}

.footer-item {
    flex-grow: 5;
    margin: auto 0;
}

.footer-item nav a {
    display: block;
    text-decoration: none;
    color: #7e7c7b;
    margin: 0em;
    padding: 0em;
}

.footer-item nav a:hover {
    text-decoration: underline;
    color: #f2f2f2;
}

.footer-item-logo {
    flex-grow: 1;
    margin: auto 0;
}

/*.banner {
    width: 100%;
    height: auto;
    background-image: url("../img/titleBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 3em 0 12em 0;
    position: relative;
}*/

.mainMenu {
    margin: 3em auto;
    position: relative;
}

.scrollPrompt {
    position: relative;
    text-align: center;
    margin-top: -2em;
}

.shadedArea {
    background-color: #7E7C7B;
    padding: 2em;
}

/*.footer {
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/
    

.footerSection {
    display: inline-block;
    margin: 0em 4em;
}

/*.footer p {
    margin: 0em;
    padding: 0em;
}*/



p.important {
    font-size: 1.25em;
}

a.button {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #f2f2f2;
    background-color: #0a0604;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

a.button:hover, a.button:focus {
    background-color: #261610;
    /*text-decoration: underline;*/
}

a.button-warning {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #f2f2f2;
    background-color: #8C0F31;
    border-radius: 0.25em;
    text-decoration: none;
    -webkit-transition: background-color 0.1s ease-in;
    transition: background-color 0.1s ease-in;
}

a.button-warning:hover, a.button-warning:focus {
    background-color: #872541;
    text-decoration: underline;
}