<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Inlet Paddle Company</title>
		<link href="css/main.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- HEADER -->
		<div class="box">
			<div class="header">
				<div class="header-search">
					<input class="header-search-field" onfocus="if(this.value == 'search') { this.value = ''; }" onfocusout="if(this.value == '') { this.value = 'search'; }" value="search"></input>
				</div>
			</div>
		</div>

		<!-- BANNER -->
		<div class="box">
			<div class="banner">
				<nav class="banner-nav">
					<div class="banner-nav-item">
						<a href="home.html">HOME</a>
					</div>	
					<div class="banner-nav-item">
						<a href="paddles.html">PADDLES</a>
					</div>
					<div class="banner-nav-item">
						<a href="customize.html">CUSTOMIZE</a>
					</div>
					<div class="banner-nav-item">
						<a href=""><img class="banner-masthead" src="img/ipcLogoSm.png"></a>
					</div>
					<div class="banner-nav-item">
						<a href="knowledge.html">MATERIALS</a>
					</div>
					<div class="banner-nav-item">
						<a href="contruction.html">CONSTRUCTION</a>
					</div>
				</nav>
			</div>
		</div>

		<!-- CONSTRUCTION -->
		<div class="box">
			<div class="construction">
				<div class="construction-item">
					<div class="construction-item-image dark">
					</div>
					<div class="construction-item-content dark">
					<p>
					Grip
					<br>
					<br>	
					A paddle&#39;s grip can take two common forms, the pear/palm grip and the t-grip.
					The pear/palm grip is more comfortable and ergonomic, excellent for longer trips.
					The t-grip allows the paddler&#39;s fingers to wrap around the grip providing a strong grip,
					vital for whitewater.
                                        </p>	
					</div>
				</div>
				<div class="construction-item">
					<div class="construction-item-image light">
					</div>
					<div class="construction-item-content light">
					<p>
					Shaft
					<br>
					<br>	
					Primarily an ergonomic concern, a paddle&#39;s shaft can be either round or ovular.
					Though round shafts are the traditional style, an oval shaft offers a wider,
					more comfortable gripping surface. Shafts can be laminated with stronger woods
					to increase their strength.
                                        </p>	
					</div>
				</div>
				<div class="construction-item">
					<div class="construction-item-image dark">
					</div>
					<div class="consruction-item-content dark">
					<p>
					Blade
					<br>
					<br>
					A paddle&#39;s blade can take many forms, IPC offers Beaver Tail, Otter Tail, Voyageur and Square.
					The shorter and wider the blade, the better it will perform in potentially shallow whitewater.
					Thinner elongated blades work well on lakewater and allow for more artistic paddling.
					Blades can be made of a single material or can leverage the characteristics of many when pressed together.
					</p>	
					</div>
				</div>
				<div class="construction-item">
					<div class="construction-item-image light">
					</div>
					<div class="construction-item-content light">
					<p>
					Tip
					<br>
					<br>
					A paddle&#39;s tip is the most likely area for water damage to occur.
					In order to extend the time between maintenance sessions, a resin tip can be installed.
					This may affect the overall beauty of the paddle, but can help extend its life.
					</p>
					</div>
				</div>
				
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<div class="box">
			<div class="footer">
				<div class="footer-item">
					<h3>TITLE</h3>
					<nav>
						<a href="">option</a>
						<a href="">option</a>
						<a href="">option</a>
					</nav>
				</div>
				<div class="footer-item-logo">
					<img id="footerLogo" src="img/ipcLogoFooter.png">
				</div>
				<div class="footer-item">
					<h3>TITLE</h3>
					<nav>
						<a href="">option</a>
						<a href="">option</a>
						<a href="">option</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>

