<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Inlet Paddle Company</title>
		<link href="css/main.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- HEADER -->
		<div class="box">
			<div class="header">
				<div class="header-search">
					<input class="header-search-field" onfocus="if(this.value == 'search') { this.value = ''; }" onfocusout="if(this.value == '') { this.value = 'search'; }" value="search"></input>
				</div>
			</div>
		</div>

		<!-- BANNER -->
		<div class="box">
			<div class="banner">
				<img class="banner-masthead primary" onclick="location.href='home.html';" src="img/ipcLogoLg.png">
				<nav class="banner-nav primary">
					<div class="banner-nav-item" onclick="location.href='paddles.html';">
						<p>PADDLES</p>
					</div>
					<div class="banner-nav-item"onclick="location.href='customize.html';">
						<p>CUSTOMIZE</p>
					</div>
					<div class="banner-nav-item"onclick="location.href='knowledge.html';">
						<p>MATERIALS</p>
					</div>
					<div class="banner-nav-item"onclick="location.href='construction.html';">
						<p>CONSTRUCTION</p>
					</div>
				</nav>
			</div>
		</div>

		<!-- WELCOME -->
		<div class="box">
			<div class="welcome">
				<div class="welcome-message">
					<h1>Handcrafted with Local Care</h1>
					<p>
					   The Inlet Paddle Company creates high quality handcrafted canoe paddles using sustainably sourced local materials.
					   We offer a range of products to suit the needs and budgets of beginners to expert paddlers and pride ourselves on the craftsmanship of our paddes.</p>

				</div>
				<div class="welcome-details">
					<!-- <div class="welcome-details-border">
					</div> -->
					<div class="welcome-details-item">
						<img src="img/detailsPaddles.png">
						<h2>A Paddle for Any Occasion</h2>
						<p>Browse our popular models, each can be customized to better suit your needs.</p>
						<a class="button" href="paddles.html">Browse Paddles</a>
					</div>
					<div class="welcome-details-item">
						<img src="img/detailsBowsaw.png">
						<h2>A Tradition of Craftsmanship</h2>
						<p>Learn about the materials we use and the kinds of paddles we make from them.</p>
						<a class="button" href="knowledge.html">View Materials</a>
					</div>
					<!-- <div class="welcome-details-border">
					</div> -->
				</div>
			</div>
		</div>

		<!-- FOOTER -->
		<div class="box">
			<div class="footer">
				<div class="footer-item">
					<h3>TITLE</h3>
					<nav>
						<a href="">option</a>
						<a href="">option</a>
						<a href="">option</a>
					</nav>
				</div>
				<div class="footer-item-logo">
					<img id="footerLogo" src="img/ipcLogoFooter.png">
				</div>
				<div class="footer-item">
					<h3>TITLE</h3>
					<nav>
						<a href="">option</a>
						<a href="">option</a>
						<a href="">option</a>
					</nav>
				</div>
			</div>
		</div>
	</body>
</html>

